
body{
margin:0;
padding:0;
 background-color: #f4f0f0;
}

header {
    background-color: black;
}

a {
    color: #ed1f24;
    text-decoration: none;
}

a:hover {
    color: #ed1f24;
    text-decoration: none;
}

.caption a:hover {
    color: #ed1f24;
}

.footerlist:hover {
color: white;
text-decoration:underline;
}

.showmemore:hover {
    background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-top: 0;
    width: 80px;
	text-decoration:underline;
}

#twitter > img:hover {

	opacity:0.4;
}

#facebook > img:hover {

	opacity:0.4;
}

.lead2:hover {
  color: #ed1f24;
  text-decoration:underline;
}

a.logo {
    background: url(../img/logo.png) repeat center scroll; 
}

.tfbutton {
    background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-top: 0;
    width: 80px;
}

.tfbutton:hover {
    background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-top: 0;
    width: 80px;
	opacity:0.4;
}

.showmemore {
    background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-top: 0;
    width: 80px;
}

.showmemore:hover {
    background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-top: 0;
    width: 80px;
	opacity:0.4;
}


.button_container {
    float: right;
	color: white;
}


.logo_container {
    width: 320px;
}

#wrapper {
    background-color: white;
    margin: 0 auto;
   width: 1366px;
}

.images_container {
    background-color: black;
    width: 100%;
}

#mainimage img {
    max-width: 50%;
	float: left;
}


#secondaryimage1 img {
    width: 506px;
}


#secondaryimage12 img {
    width: 506px;
}


#secondaryimage img {
    float: left;
}

.content{
 background-color: green;
    margin: 0;
    padding: 0;
	}
	
	
.featuredimage_container img {
    width: 320px;
}


.featured_container {
    width: 50%;
}


.featuredimage_container {
    width: 50%;
}

.thumbnail {
    border: medium none;
}

div#tfheader {
    background-color: white;
	margin-top: -20px;
}

.col-md-3 {
    background-color: #bdb9b9;
}
footer{
background:url("../img/background.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    margin: 50px 0;
}

.footerlist {
    color: white;
    font-weight: bold;
}

.col-lg-12 > h4 {
    color: white;
}

.containerfooter {
  margin-right: auto;
  margin-left: auto;
}

.caption h4 {
    white-space: normal;
}


.caption a {
    color: black;
}

.pull-right {
    color: #ed1f24;
    float: right !important;
}

.ratings a {
    color: #ed1f24;
    text-decoration: underline;
}

.carousel-indicators {
    margin-bottom: 11%;
}

.list-group-item > img {
    width: 100%;
}

.lead2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
    border: medium none;
    color: white;
    font-weight: bold;
  
  
  }
  
  @media (min-width: 768px) {
  .lead2 {
    font-size: 21px;
  }
}

 h3 {
    color:#fff;
  }


@media (max-width: 768px) {
  h3 {
    display:none;
  }
}


.list-group-item2 > span {
    color:#000;
    font-size: 24pt;
}

.list-group-item2 {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group-item2:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group-item2:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-group-item2 > img {
    width: 92%;
}

.list-group {
    margin-bottom: 23px;
    padding-left: 0;
}

.showmemore {
    font-size: 15pt;
    margin-left: 32%;
}

.showmemoreheader {
   background-color: #ed1f24;
    border: medium none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    height: 29px;
    margin-left: 15%;
    width: 69%;
	margin-bottom: 11px;
}

thead {
    background-color: #ed1f24;
    color: white;
}

tr {
    font-weight: bold;
}

.col-md-32{
 position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ed1f24;
  border-radius: 4px;
}

.col-md-3 {
    border-radius: 4px;
}

@media (min-width: 992px) {
  .col-md-32 {
    float: left;
  }
  .col-md-32 {
    width: 25%;
  }
  }
  
.footerlinks {
    margin-left: 37%;
	margin-left: 10%;
	padding-top: 27px;
	font-size: 12pt;
}  

.footerlinks > span {
    color: white;
	margin-left: 4%;
	margin-right: 4%;
}

#facebook > img {
    float: right;
}

#twitter > img {
    float: right;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 39px;
	margin-right: 10px;
	margin-right: 27%;
}

 #facebook > img {
 float: right;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 34px;
	margin-right: 10px;
	 
}
@media (min-width: 1005px) {
  #twitter> img {
    margin-right: margin-right: 26%;
  }
}


 @media (max-width: 992px) {
  #twitter> img {
    margin-right: 7%;
  }
  
  .footerlinks {
   margin-left: 15%;
}
}

 @media (max-width: 776px) {
  #twitter> img {
    float:left;
	margin-right: 1%;
	margin-left: 1%;
  }
  
   #facebook > img {
 float: left;
 }
 
   footer{
background:url("../img/background.png") repeat-x scroll 0 0 / 2px auto rgba(0, 0, 0, 0);
    margin: 50px 0;
}

.footerlinks {
    margin-left: 1%;
}

}

.button_container > h3 {
    font-size: 16pt;
}



}

  

.glyphicon.glyphicon-chevron-left {
    display: none;
}

@media (max-width: 316px) {

	.showmemore {
    font-size: 13pt;
    margin-left: 5%;
}
}

@media (max-width: 384px) {

	.showmemore {
    margin-left: 10%;
}
}

@media (max-width: 480px) {
  .footerlinks {
    font-size:10pt;
	}
	
	.showmemore {
    font-size: 15pt;
    margin-left: 21%;
}
}

@media (max-width: 509px) {
.showmemore {
    font-size: 15pt;
    margin-left: 27%;
}
}

.glyphicon.glyphicon-chevron-right {
    display: none;
}

.col-md-5 > h3 {
    color: black;
}

.col-md-5 {
    margin-bottom: 28px;
    margin-top: -10px;
}

.row > h3 {
    color: black;
}

h3 {
    color: black;
}

.col-md-5 > p {
    font-size: 12pt;
}

.pull-right {
    font-size: 10pt;
}

.col-md-12 > h4 {
    font-size: 22pt;
    font-weight: 600;
}

.btn.btn-default.dropdown-toggle {
    background-color: #ed1f24;
    border-radius: 5px;
    color: white;
    font-size: 11pt;
    font-weight: bold;
	margin-top: -4px;
}

ul.dropdown-menu {
    background-color: #ed1f24;
}

li.presentation {
    color: white !important;
    font-size: 12pt;
    font-weight: bold;
}


.tftextinput {
    width: 87%;
	border:medium none;
}


.bottom a {
    color: #ed1f24;
    text-decoration: underline;
}


.rowarticles:after {
  clear: both;
   display: table;
  content: " ";
}

.rowarticles:before {
 display: table;
  content: " ";

}

.rowarticles {
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
margin-right: 0;
  margin-left: 0;
  background-color:white;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pagination > li > a, .pagination > li > span {
    background-color: #ed1f24;
    border: 1px solid #ddd;
    color: white;
    float: left;
    font-weight: bold;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
}


@media (max-width: 594px) {
.tftextinput {
    width: 83%;

}
}

@media (max-width: 594px) {
.tftextinput {
    width: 74%;

}
}
.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: #ed1f24 !important;color:#fff;}
.modal-register-btn{margin: 4% 33% 2% 33% ;width:100%;}
.login-modal input{height:40px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.modal-social-icons{padding:0 10%;}
.facebook, .twitter, .google, .linkedin {width:100%;height:40px; padding-top:2%; margin-top:2%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.google, .google:hover{background-color:#dd4b39;border:2px solid #dd4b39;color:#fff;}
.twitter, .twitter:hover{ background-color: #00aced; border:2px solid #00aced;color: #fff;}
.facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
.linkedin, .linkedin:hover{background-color: #007bb6; border: 2px solid #007bb6; color:#fff;}
#social-icons-conatainer{position: relative;}
#center-line{position: absolute;  right: 265.7px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;}
h1{border-bottom:5px solid #00BB64;}


.btn-group-lg > .btn, .btn-lg {
   border-radius:4px;
	background-color: #ed1f24;
	border:medium none;
	padding-bottom: 2px;
    padding-top: 2px;
}

.btn-group-lg:hover > .btn, .btn-lg:hover {
   border-radius:4px;
	background-color: #ed1f24;
	border:medium none;
	opacity:0.4;
	padding-bottom: 2px;
    padding-top: 2px;
}

.btn-success {
    background-color: #ed1f24;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success:hover {
    background-color: #ed1f24;
    border-color: #4cae4c;
    color: #fff;
	opacity:0.4;
}

.quotation > h4 {
    color: white;
    font-size: 20pt;
    font-style: italic;
}

.pull-right2 {
    margin-top: 33px;
	
}

.img-responsive2 {
    display: block;
    height: auto;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 28%;
}

img.img-responsive3 {
    float: left;
    margin-right: 10px;
    margin-top: -17px;
    width: 40px;
}

.pencil {
    width: 38px;
}

.delete {
    width: 39px;
}

.pencil:hover {
    width: 38px;
	opacity:0.4;
}

.delete:hover {
    width: 39px;
	opacity:0.4;
}

.pageicon {
    width: 24px;
}

.pull-right3 {
    float:right;
}

.img-responsive > img {
    width: 100%;
}

.list-group-item2 > img:hover {
opacity:0.4;
}

.thumbnail img:hover {
opacity:0.4;
}

.slide-image:hover {
    opacity: 0.4;
}

.img-responsive:hover {
opacity:0.4;
}

.col-md-32 {
    background-color: #ed1f24;
    border-radius: 4px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.row {
    margin-left: 0;
    margin-right: 0;
}



